/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
header {
    background: #6363d2;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 98%;
    /* top:10px; */
    margin-left: 20px;
    border-radius: 5px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


header .logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
header .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

header nav ul li {
    /* display: inline; */
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

header nav ul li a i {
    margin-right: 5px; /* Spacing between icon and text */
}

/* Main content styling */
main {
    /* padding: 20px; */
    flex: 1;
    width: 100%;
    padding: 20px;
}

#products {
    margin-top: 20px;
}

#products h1 {
    text-align: center;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    background: #fff;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e0f5fb;
    /* background-color: #d7a1c6; */
    position: relative;
}

.product-item img {
    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.product-item h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
}

.product-item .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-item .rating {
    font-size: 0.9rem;
    color: #f7cb1c;
    /* color: #ffcc00; */
}

.product-item .description {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #666;
}

.product-item .actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.product-item .actions button {
    background: #2196F3; /* Blue background color */
    color: #fff;
    border: none;
    padding: 10px 20px; /* Adjust padding for button size */
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    height: 40px;
    width: 150px;
    /* margin-left: 10px; */
    margin-right: 6px;
}

.product-item .actions button:hover {
    background: #0e5ab3; /* Darker blue on hover */
}

.product-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; /* Add margin between rows */
}
.product-item .availability-in{
    color: rgb(16, 114, 16);

}
.product-item .availability-out{
    color: rgb(225, 9, 9);

}
.product-item .price {
    font-size: 1rem;
    font-weight: bold;
    color: #d11115;
    text-align: left;
}
.product-item .original-price {
    text-decoration: line-through;
    color:gray; /* Color for the original price */
    margin-right: 5px; /* Add some space between the original price and discount */
}

.product-item .discount {
    color:  #008000; /* Color for the discount percentage */
}
.special-buttons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 17px; /* Adjust padding as needed */
}

.special-buttons button {
    background-color: #84ea61; /* Adjust button color */
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 0.6rem; /* Adjust button font size */
}


/* .logo{
    text-align: left;
    margin-left: 40px;
}
.nav{
    text-align: center;
    
}
.logo img{
    width:60px;
  height: 30%;
  border-radius:90%;
  margin-bottom: -25px;
  margin-left: 10px;
} */
.heading{
    text-align: center;
    font-size: 2.6rem; /* Adjust the font size */
    color: #333;
    margin-bottom: 20px; /* Add spacing below the heading */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing */
    font-weight: bold; /* Make the text bold */
    text-shadow: 4px 4px 4px rgba(104, 99, 195, 0.444); /* Add text shadow */
}
/* Footer styling */
footer {
    background: #6363d2;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    /* position: relative; */
    bottom: -420px;
    width: 98%;
    /* top:10px; */
    margin-left: 20px;
    border-radius: 5px;
}
footer p {
    margin: 0;
    margin-left: 120px;
  
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.social-media {
    display: flex;
    margin-right: 100px;
}

.social-media a {
    font-size: 1.5rem;
    margin-left: 20px;
}

/* .social-media .fab.fa-facebook-f { color: #3b5998; }
.social-media .fab.fa-twitter { color: #1da1f2; }
.social-media .fab.fa-linkedin-in { color: #0077b5; }
.social-media .fab.fa-instagram { color: #e4405f; }
.social-media .fas.fa-envelope { color: #c71610; }
.social-media .fab.fa-google { color: #db4437; } */

.social-media .fab.fa-facebook-f { color:white; }
.social-media .fab.fa-twitter { color:white; }
.social-media .fab.fa-linkedin-in { color:white; }
.social-media .fab.fa-instagram {color:white; }
.social-media .fas.fa-envelope { color:white;  }
.social-media .fab.fa-google {color:white;  }

/* Responsive styles for tablets */
@media (max-width: 768px) {
    header{
        width: 95%;
    }
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 5px 0;
    }

    .product-row {
        /* position: relative; */
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        width: 28%;
    }

    .product-item {
        width: 80%;
      
    }

    footer {
        bottom: -840px;
        width: 95%;
    }

    .product-item .actions {
        display: flex;
        flex-direction: column; /* Display buttons stacked vertically */
        margin-top: 10px;
    }
    
    .product-item .actions button {
        background: #2196F3; /* Blue background color */
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.3s ease;
        height: 40px;
        margin-bottom: 10px;
       width: 100%;
        margin-left: -1px;
    }
    
    .product-item .actions button:hover {
        background: #0e5ab3; /* Darker blue on hover */
    }
}

/* Responsive styles for mobile devices */
@media (max-width:480px){
    header{
        width:90%;
       margin-top: 10px;
    }
    header .logo {
        font-size: 1.2rem;
    }

    .product-item {
        /* display: flex;
        flex-direction: column; */

        /* flex-wrap: wrap; */

        width: 2300px;
        /* margin: 10px 0; */
    }

    .product-item img {
        height: auto;
    }

    .product-item h2 {
        font-size: 1rem;
    }

    .product-item .description {
        font-size: 0.8rem;
    }

    .product-item .actions button {
        padding: 8px 16px;
        font-size: 0.8rem;
        height: auto;
        width: 100px;
    }

    .special-buttons button {
        font-size: 0.5rem;
    }

    footer {
        font-size: 0.8rem;
        bottom: -550px;
        /* bottom: -3870px; */
        margin-left: 20px;
        width:90%;
    }
    .footer-content{
        margin-left: -120px;
    }
}
